.user-traffic-details-wrp {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 29px;
}

.chart-uni-statistics-title-wrp {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 23px;
}

.user-traffic-details-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 12px 20px;
}

@media only screen and (max-width: 1300px) {
  .user-traffic-details-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1280px) {
  .user-traffic-details-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 575px) {
  .user-traffic-details-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
