#n-c-map-wrp {
  display: table;
  position: relative;
  overflow: hidden;
  width: 100%;
}

#n-c-map-lat-lng-wrp {
  display: none;
}

#n-c-map-search-btn {
  display: table;
  background-color: rgb(255, 255, 255);
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../../../icons/search-google.svg");
  background-size: 52%;
  border: 0px;
  margin: 10px;
  padding: 0px;
  position: absolute;
  cursor: pointer;
  user-select: none;
  border-radius: 2px;
  height: 40px;
  width: 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  overflow: hidden;
  z-index: 10;
  top: 0px;
  left: 0px;
  outline: none;
}

#n-c-map-search-btn:hover {
  background-image: url("../../../../icons/search-google2.svg");
}

#n-c-map-search-blck {
  display: none;
  position: absolute;
  height: 150px;
  top: 50%;
  left: 50%;
  z-index: 10001;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -ms-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}

#n-c-map-search-wrp {
  display: table;
  position:relative;
  overflow: hidden;
  border-radius: 3px;
}

#n-c-map-search-input {
  display: table;
  box-sizing: border-box;
  height: 50px;
  width: 500px;
  max-width: calc(100vw - 2 * 25px);
  font-size: 16px;
  letter-spacing: 0.75px;
  line-height: 1.3;
  padding: 0px 55px;
  outline: none;
  border: none;
}

.pac-container {
  z-index: 1000003 !important;
}

.pac-item {
  line-height: 38px !important;
  padding: 0 10px;
}

.pac-icon {
  width: 20px;
  height: 38px;
  margin-top: 0px;
  margin-right: 9px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../../../icons/pointer.svg") !important;
  background-size: 62% !important;
}

.pac-item span {
  color: #999;
  letter-spacing: 0.3px;
  font-size: 12px;
}

.pac-item-query, .pac-matched {
  color: #000 !important;
  font-size: 14.5px !important;
}

.n-c-map-search-modal-btn {
  display: table;
  position: absolute;
  height: 50px;
  width: 50px;
  top: 0px;
  bottom: 0px;
  z-index: 1;
  padding: 0px;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  outline: none;
}

#n-c-map-search-modal-btn-search {
  left: 0px;
  background-image: url("../../../../icons/search-google.svg");
  background-size: 50%;
}

#n-c-map-search-modal-btn-cancel {
  right: 0px;
  background-image: url("../../../../icons/cancel3.svg");
  background-size: 32%;
}

#n-c-map {
  display: table;
  width: 100%;
  height: 266px;
  background-color: #e0e0e0;
  border-radius: 3px;
}

@media only screen and (max-width: 415px) {
  #n-c-map {
    height: 370px;
  }
}
