#dashboard-block-active-users {
  grid-column: 11 / 16;
}

@media only screen and (max-width: 1350px) {
  #dashboard-block-active-users {
    grid-column: 1 / 7;
  }
}

@media only screen and (max-width: 1100px) {
  #dashboard-block-active-users {
    grid-column: 1 / 9;
    grid-row: 1;
  }
}

@media only screen and (max-width: 950px) {
  #dashboard-block-active-users {
    grid-column: 1 / 10;
  }
}

@media only screen and (max-width: 880px) {
  #dashboard-block-active-users {
    grid-column: 1 / 5;
  }
}

@media only screen and (max-width: 685px) {
  #dashboard-block-active-users {
    grid-column: 1 / 6;
    grid-row: 2;
  }
}

@media only screen and (max-width: 580px) {
  #dashboard-block-active-users {
    grid-column: 1 / 11;
    grid-row: 2;
  }
}

#d-active-users-layout {
  display: flex;
  flex-direction: column;
}

.d-active-users-txt-wrp {
  display: table;
  width: 100%;
  table-layout: fixed;
}

#d-active-users-txt-num {
  font-size: 56px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1.2px;
  margin-bottom: 7px;
}

#d-active-users-txt-desc {
  color: #bababa;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.6px;
}
