#user-cottage-grid-wrp {
  display: table;
  position: relative;
  width: 100%;
  min-height: calc(100vh - (58px + 35px));
}

#u-c-loader, #u-c-no-cottage {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#u-c-loader {
  display: table;
  height: 65px;
  width: 65px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../uni/gifs/loader-tail.svg");
  background-size: 100%;
}

#u-c-no-cottage {
  display: none;
  flex-direction: column;
  align-items: center;
}

#u-c-no-cottage-txt-wrp {
  display: flex;
  justify-content: center;
}

#u-c-no-cottage-txt {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.4;
  text-align: center;
  overflow-wrap: break-word;
  width: 400px;
  max-width: 37vw;
  min-width: 200px;

}

#u-c-load-more-wrp {
  display: none;
  height: auto;
  width: auto;
  margin-top: 0px;
  margin-bottom: 25px;
  align-items: center;
  justify-content: center;
}

#u-c-load-more-btn {
  display: flex;
  padding: 0px;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

#u-c-load-more-btn-icon {
  display: table;
  height: 25px;
  width: 25px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../uni/icons/more3.svg");
  background-size: 80%;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -ms-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}

#u-c-load-more-btn-txt {
  font-size: 12.5px;
  font-weight: 500;
  letter-spacing: 0.6px;
  color: #2997ff;
  text-align: center;
  white-space: nowrap;
  margin-top: 3px;
  opacity: 1;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -ms-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}

.modal-block-c-error {
  padding: 30px;
}

.modal-block-c-layout {
  display: flex;
  flex-direction: column;
}

.modal-cover-c-e-txt {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.7px;
  text-align: center;
  max-width: 270px;
}

.modal-cover-c-e-btns-wpr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.modal-cover-c-e-btn {
  margin: 0px 3.5px;
}
